<div style="width: 100%;height: 200px; display: block;">
    <div style="float: left">
        <ul>
            <li><a href="/addtweet/">dodaj tweet </a></li>
            <li><a href="/tweets/">wyświetl tweet</a></li>
            <li><a href="/adduser/">dodaj usera</a></li>
            <li><a href="/users/">wyswietl useras</a></li>
            <li><a href="/add_group/">dodaj Grupe</a></li>
            <li><a href="/groups/">Grupy</a></li>
            <li><a href="{% url 'product_list' %}">Produkty</a></li>
            <li><a href="{% url 'cart_view' %}">Koszyk</a></li>
        </ul>
    </div>
    <div style="float: right">
        {% if request.session.user_id %}
            <a href="/logout/">wyloguj</a>
        {% else %}
            <a href="/login/">zaloguj</a>
        {% endif %}
    </div>
</div>

